
    div.page{
       
        background-color: white;
        margin-top:-150px;
        margin-left:-10px;
        
        margin-right: -7px;
        min-height: 655px;
    }
    h1.page{
        text-align: center;
        padding-top:200px;
    }