 
fieldset.postJob{
    margin-top:60px;
    border-color: red;
    padding-block: 10px;
    padding-inline: 20px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}
table.postJob{
   
    margin-top:-50px;
    font-size:large;
}
textarea{
    font-size: 20px;
}
input{
    width:180px;
}
button{
    width:100px;
}
